{
  "extends": [
    "react-app",
    "prettier",
    "airbnb"
  ],
  "rules": {
    "jsx-quotes": [
      1,
      "prefer-double"
    ],
    "semi": ["error", "always"],
    "quotes": ["error", "double"],
    "no-console": 0,
    "linebreak-style": 0,
    "indent" : ["error", 2],
    "class-methods-use-this" : ["off"],
    "func-names": ["off"],
    "no-plusplus": ["off"],
    "unicode-bom": ["off"]
  },
  "plugins": [
    "prettier"
  ]
}
