.map {
  width: 600px;
  height: 600px;
  background-color: rgb(207, 240, 159);

  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  transition: background-color 2s;
}
.worldMap {
  width: 600px;
}
.night {
  background-color: rgb(39, 39, 68);
}
.night .map {
  background-color: rgb(207, 240, 159, 0.8);
}
