.world .command {
  color: rgb(20, 100, 180);
  cursor: pointer;
  padding: 3px;
  display: block;
}
.world .command:hover {
  text-decoration: underline;
}
.world .map {
  width: 600px;
  height: 600px;
  background-color: rgb(207, 240, 159);

  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
}
.world .river {
  grid-column: 1;
  grid-row: 5;
  background-color: rgb(52, 208, 247);
}
.world .raft {
  grid-column: 1;
  grid-row: 5;
  background-image: url("/images/sprites60.png");
  background-position-x:  0;
  background-position-y: -60px;
}
.world .kolobok {
  grid-column: 2;
  grid-row: 2;
  background: url("/images/sprites60.png") 0 -120px;
}
.world .fox {
  grid-column: 1;
  grid-row: 1;
  background: url("/images/sprites60.png") 0 0;
}